name = "product-digest-scheduler"
main = "src/index.js"
compatibility_date = "2026-02-20"

[triggers]
crons = ["*/5 * * * *"]

[vars]
PUBLISH_API_URL = "https://api.productdigest.es"

[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = true
persist = true
head_sampling_rate = 1
